/** Single Property **/
h1.title{
	font-size: 44px;
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed";
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
}

h2.subtitle{
	font-size: 28px;
    color: #676767;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
}
.property-show-container{
	padding-top: 30px;
}
.property-show-container .property-details{
	background-color: #FFF;
}
.property-details .description{
    font-size: 14px;
    line-height: 24px;
    padding: 15px;
    color: #999;
    margin: 0;
}
.feature-image-full{
	width: 100%;
	height: 100%;
}
.property-details div.inquiry{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.property-full-image{
    position: relative;
}
.property-full-image .listed-for{
    background-color: #FFD119;
    position: absolute;
    top: 20px;
    right: 40px;
    display: inline-block;
    z-index: 1;
    font-size: 17px;
    padding: 5px 14px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto Condensed"
}
.property-full-image .featured{
    background-color: #e64942;
    position: absolute;
    top: 20px;
    left: 40px;
    display: inline-block;
    z-index: 1;
    font-size: 17px;
    padding: 5px 14px;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto Condensed"
}
.property-full-image .price{
    background-color: #173471;
    position: absolute;
    bottom: 0px;
    right: 15px;
    display: inline-block;
    color: #FFF;
    padding: 8px 15px;
    font-size: 26px;
    font-weight: 400;
    min-width: 100px;
    text-align: center;
}
/** End Single Property **/

/** Section Separator **/
.section-header{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.section-title{
    display: inline;
    color: #666;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}
/** End Section Separator **/

/** Footer **/
.footer{
    background-color: #404040;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-top: 200px;
    opacity: 0.85;
}
.footer .footer-icon{
    font-size: 48px;
    display: block;
    text-align: center;
}
.footer .footer-title{
    font-size: 24px;
    display: block;
    text-align: center;
    font-family: "Roboto Condensed";
}
.footer .footer-text{
    font-size: 14px;
    display: block;
    text-align: center;
}
div.footer div.copyright{
    text-align: center;
    margin-top: 30px;
}
/** End Footer **/

.blueimp-gallery>.slides>.slide>.slide-content {
    max-width: 80% !important;
    max-height: 80% !important;
}

td.row-actions {
    padding: .55rem;
    width: 120px
}

@media screen and (max-width: 579px) {
    div#filters {
        display: block !important;
    }
    div.filter-item {
        display: block !important;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
        width: 100% !important;
    }
}

