/** Homepage filters **/
div#homepage-filter-container{
	background: url('/banner.jpg');
	background-size: cover !important;
	background-repeat: no-repeat;
	margin-top: -32px;
	margin-bottom: 30px;
	padding-top: 80px;
	padding-bottom: 80px;
}
div#filters{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	display: table;
    margin: 0 auto;
}
h1.banner-title{
	padding: 0;
	margin: 0;
	font-size: 44px;
	font-family: "Roboto Condensed";
	text-align: center;
	color: #FFF;
	margin-bottom: 20px;
}
div.filter-item{
    margin-right: 20px;
    display: table-cell;
    padding: 20px 30px;
}

div.filter-item label{
	display: block;
	font-weight: 400;
	color: #FFF;
}
/** End Of Homepage filters **/

/** Range Slider Customization **/
div.filter-item div.nstSlider{
	height: 12px;
    margin-top: 15px;
    clear: both !important;
    background-color: #e1e7ec;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}
div.filter-item div.nstSlider .bar{
	height: 12px;
    top: 0;
    background-color: #666;
}
div.filter-item div.nstSlider .rightGrip,
div.filter-item div.nstSlider .leftGrip{
	background-color: #fff;
    height: 20px;
    top: -5px;
    width: 20px;
}
.price{
	display: inline-block;
    float: right;
    color: #FFF;
    font-size: 14px;
}
.leftLabel, .rightLabel {
    color: #FFF;
    display: inline-block;
}
/** End Of Range Slider Customization **/
